# registry=http://192.168.10.220:8085/nexus/repository/npm/
# registry=http://registry.cnpmjs.org/
# registry=http://registry.npmjs.org/
registry=http://registry.npm.taobao.org/
# registry=http://registry.yarnpkg.com/mirrors/electron/

# sass_binary_site=https://npm.taobao.org/mirrors/node-sass
# chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver
# phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
# # electron_mirror=https://npm.taobao.org/mirrors/electron
# electron_mirror=https://mirrors.huaweicloud.com/electron
# canvas_binary_host_mirror=https://npm.taobao.org/mirrors/node-canvas-prebuilt/

# canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas/
# sass_binary_site=https://registry.npmmirror.com/-/binary/node-sass
# nodejs_org_mirror=https://registry.npmmirror.com/-/binary/node/
# electron_mirror=https://registry.npmmirror.com/-/binary/electron/
# electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
# chromedriver_cdnurl=https://registry.npmmirror.com/-/binary/chromedriver/
